<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>沙龙</title>
</head>
<body>

<form method="post">
    <label for="title">题目<input type="text" name="title" id="title"/></label>
    <label for="username">用户名 <input type="email" name="username" id="username"></label>
    <label for="password">密码 <input type="password" name="password" id="password"></label>
    <button>提交</button>
</form>

<button id="refresh">更新</button>
<div>
    <ul>
    </ul>
</div>
<script src="js/main.js"></script>
<script src="js/init.js"></script>
</body>
</html>